html
  head
    title= title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet' href='style.css' type='text/css' crossorigin="anonymous")
  body
    main(role="main")
      include menu.pug
      div(class="container")
        h5(class="spacerTop" style="") Liste des cours - Formation Design Circulaire
        div(style="width:100%")
          iframe(class="airtable-embed" src="https://airtable.com/embed/shrwN7nXybH0uJMZE?backgroundColor=red&layout=card&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;")