        h2(class="")= ["Etes-vous satisfait de La communication avant la formation ?"]
        each reponse in evaluation
          div(class="list-inline-item")= reponse["Etes-vous satisfait de La communication avant la formation ?"]
        