html
  head
    title= title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet' href='style.css' type='text/css' crossorigin="anonymous")
  body
    main(role="main")
      include menuprive.pug
      div(class="container")
        h5(class="spacerTop" style="font-size:5vw;")= "Evaluation"

        h2(class="")= ["Etes-vous satisfait de La communication avant la formation ?"]
        each reponse in evaluation
          div(class="list-inline-item")= reponse["Etes-vous satisfait de La communication avant la formation ?"]
        div()= "Tableau des réponses au formulaire Forms. Titre de la question : Etes-vous satisfait de La communication avant la formation ?. Nombre de réponses : 15&nbsp;réponses."