html
  head
    title= title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet' href='style.css' type='text/css' crossorigin="anonymous")
  body
    main(role="main")
      include menu.pug
      div(class="container")
        h5(class="spacerTop" style="font-size:5vw;")= "Pads - discussions"

        div(class="" style="padding:2vh;" )
          iframe(name="embed_readwrite" src="https://mypads2.framapad.org/p/design-circulaire-general-im2h59jg?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false" width="100%" height="100%")
