html
  head
    title= title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet' href='style.css' type='text/css' crossorigin="anonymous")
  body
    main(role="main")
      include menu.pug
      div(class="container")
        h5(class="spacerTop" style="")= "Analyse Compétences transverses (soft skills) - Post Formation"
        div(style="width:100%")
          img(style="width:100%" src="../../eval/soft1.jpg")
          img(style="width:100%" src="../../eval/soft2.jpg")
          img(style="width:100%" src="../../eval/soft3.jpg")
