html
  head
    title= title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet' href='../style.css' type='text/css' crossorigin="anonymous")
  body
    main(role="main")
      div(class="container")
        h1(class="spacer")
        div(class="  " style="background-color: grey; padding:10px;" )
          div(class="d-inline-flex p-2 " style="background-color: blue; padding:10px;")
            div(class=" p-2" style="background-color: orange; padding:0px;")= persons.Role
            div(class="p-2" style="background-color: red; padding:0px;")= persons.Moto
          div(class="")
            img(class="" style="background-color: green; padding:10px;" src=persons.Photo[0].thumbnails.small.url) 

          