div(class="breadcrumb fixed-top")
  a(class="btn" href="/apprenants")="Apprenants" 
  a(class="btn" href="/competences")="Compétences"
  a(class="btn" href="/dechetk")="Déchethèque"
  a(class="btn" href="/enseignants")="Enseignants"