html
  head
    title= title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="socket.css" type="text/css" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  body
    main(role="main")
      div(class="container")
        h5(class="spacerTop" style="font-size:5vw;")= "Bienvenuto !"
          script.
                $(function () {
                  var socket = io();
                  $('form').submit(function(e) {
                    e.preventDefault(); // prevents page reloading
                    socket.emit('channel1', $('#m').val());
                    $('#m').val('');
                    return false;
                  });
                  socket.on('channel1', function(msg){
                    $('#messages').append($('<li>').text(msg));
                  });
                });
        ul(id="messages")
        form(action="")
          input(id="m" autocomplete="off") 
          button()= "send"



